html {
  height: 100%;
}
body {
  width: 100%;
  background: rgb(200, 255, 244);
  background: -moz-linear-gradient(
    0deg,
    rgba(200, 255, 244, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(201, 255, 245, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(200, 255, 244, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(201, 255, 245, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(200, 255, 244, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(201, 255, 245, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c8fff4",endColorstr="#c9fff5",GradientType=1);
}
